body {
  
    background-image: url("background2.jpg");
      background-repeat: no-repeat;
    background-size: cover;
      text-align: center;
    
}
h1  {
    font-weight:bold;
    font-size:50px;
    margin-top:10px;
    text-decoration: underline;
}
h3 {
    font-size:35px;
    margin-top:5px;
    color:navy;
}
#overlay {
    background-color: #FF8C00;
    opacity:0.8;
    position:absolute;
    height:130%;
    width:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    content:'';
p {
    margin-top:0px;
    font-size: 20px;
}
nav{
    font-size:40px;
    margin-right: 0;
    text-decoration: none;
    display:flex;
    width:100%;
}
nav a{
    background-color:rgb(129, 62,14);
    height:70px;
    width:100%;
    color:white;
    padding:10px;
    text-decoration:none;
    text-align:center;
    
}
nav a:hover {
    color:white;
    background-color: #FF8C00;
}
.contact, h4 {
    font-size: 20px;
}
