body{
  color: black;
  background-color: chocolate;
}
h1{
  justify-content: center;
  background: rgb(221, 220, 220);
  margin-right: 800px;
  margin-left: 280px;
  padding: 10px;
}
#text{
  text-align: center;
}
#header{
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 10px;
  margin: 2px; 
}
#header > img{
  width: 450px;
  height: 250px;
  border: 10px solid white;
  box-shadow: 0px 0px 5px black;
  float: left;
  margin: 10px;
}
#container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 450px;
  padding: 10px;
}
h2{
  background: rgb(221, 220, 220);
  margin-right: 800px;
  margin-left: 30px;
  padding: 10px;
}
#history{
  margin: 30px;
  margin-left: 100px;
  margin-right: 50px;
}
#history > div{
  width: 20%;
  float: left;
  min-width: 120px;
}
#history img{
  float: right;
}
#romance{
  margin: 30px;
}
#romance > div{
  width: 25%;
  float: left;
  min-width: 120px;
}
#romance > h2{
  background: rgb(221, 220, 220);
  margin-right: 940px;
  margin-left: 30px;
  padding: 10px;
}
#fiction{
  margin: 30px;
}
#fiction > div{
  width: 25%;
  float: left;
  min-width: 120px;
}
#fiction > h2{
  background: rgb(221, 220, 220);
  margin-right: 940px;
  margin-left: 30px;
  padding: 10px;
}